<div class="container d-flex justify-content-center">
  <div class="row">
    <form class="form-inline" action="/answer">
      <div class="form-group col-lg-4 ">
        <h1>Stupid question</h1><br>
        <p>Ask your coach anything</p>
        <input type="text" name="question" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="input the question">
        <button type="submit" class="btn btn-primary">Submit</button><br>
      </div>
    </form>
  </div>
</div>

